[submodule "df_history"]
	url = https://rhiggins@rndwww.nce.amadeus.net/git/scm/~rhiggins/df_history.git
	path = df_history
[submodule "cua"]
	path = cua
	url = https://rhiggins@rndwww.nce.amadeus.net/git/scm/acs/chatbot-utility-app.git
