[submodule "df_history"]
	url = https://rhiggins@rndwww.nce.amadeus.net/git/scm/~rhiggins/df_history.git
	path = df_history
[submodule "cua"]
	path = cua
	url = https://rhiggins@rndwww.nce.amadeus.net/git/scm/acs/chatbot-utility-app.git
[submodule "sv_scratch"]
	path = sv_scratch
	url = https://github.com/higginsro/gtest.git
[submodule "sv_git_test"]
	path = sv_git_test
	url = https://github.com/higginsro/sv_git_test.git
[submodule "sv_git_test2"]
	path = sv_git_test2
	url = https://github.com/higginsro/sv_git_test.git

[submodule "swedish_dev"]
	path = swedish_dev
	url = https://rhiggins@rndwww.nce.amadeus.net/git/scm/~rhiggins/swedish_dev.git
